
.icon-info-1:before { content: '\e8fa'; } /* '' */
.icon-home-2:before { content: '\e8fb'; } /* '' */
.icon-heart-5:before { content: '\e99b'; } /* '' */
.icon-cancel-squared:before { content: '\274e'; } /* '❎' */
.icon-spin5:before { content: '\e9bb'; } /* '' */
.icon-picture-3:before { content: '\e9a1'; } /* '' */